@import 'bulma/css/bulma.css';
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
.center {
  text-align: center;
}

/* header */
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.global_nav {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.global_nav_item {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}

/* footer */
.footer {
  width: 100%;
  background: #251e19;
  position: absolute;
  bottom: -75px;
  padding-bottom: 10px;
  height: 75px;
}
.footer_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer_nav_item {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.footer_logo {
  width: 80px;
}
.footer_right {
  color: white;
  text-align: center;
  font-size: 10px;
}

/* キービジュアル */
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Serif JP', serif;
}
.key h1{
  font-size: 2.5rem;
}

/* コンセプトセクション */
.concept_inner {
  display: flex;
  justify-content: space-between;
}
.concept_content {
  width: 60%;
}
.concept_image {
  width: 35%;
}

/* セクション共通 */
.section_inner {
  padding: 50px 10% 30px;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  margin-bottom: 50px;
}

/* 店舗情報セクション */
.info {
  display: flex;
}
.info_title {
  width: 80px;
}
.frame_area {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.frame_child{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* メニューセクション */
.menu_section {
  background: url("../images/sample_menu_bg.jpg") no-repeat bottom;
  background-attachment: fixed;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.coffee_menu {
  background: #fff;
  padding: 20px;
}
.caffee_menu_list_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}
.caffee_menu_content {
  width: 80%;
  padding: 10px;
}


/* メニューページ */
.menu_key {
  height: 100px;
  background: url("../images/sample_key.jpg") no-repeat center;
  background-size: cover;
}
.wrapper {
  display: flex;
}
.main {
  padding: 0 0 0 50px;
  width: calc(100% - 200px);
}

/* メニューページ - サイドメニュー */
.side_menu {
  width: 200px;
}
.side_menu_title {
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
  padding-left: 10px;
}
.side_menu_item {
  padding: 20px 10px;
  border-bottom: solid #42210b 1px;
  display: block;
  text-decoration: none;
}
.side_menu_item:hover {
  background: rgba(83,71,65,.3);
}
.side_ad {
  color: #fff;
  background: rgba(83,71,65,.7);
  padding: 20px;
  margin: 30px 0;
}

/* メニューページ - メイン */
.menu_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.menu_name {
  font-family: 'Noto Serif JP', serif;
}
.menu_price {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.pancake_menu {
  background: rgba(83,71,65,.5);
  padding: 20px;
  margin-top: 50px;
}

/* メニューアイテムコンポーネント */
.menu_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu_list_recommended {
  /* トップページのメニューリストには別途paddingの設定（マルチクラス） */
  padding-bottom: 50px;
}

.menu_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}
.menu_item_content {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}
.menu_item_image {
  width: 55%;
  object-fit: cover;
  height: 300px;
}
.menu_item_price {
  color: #42210b;
  font-size: 18px;
  text-align: right;
}

.menu_item_title {
  font-size: 18px;
  font-family: 'Noto Serif JP', serif;
}

/* ボタンコンポーネント */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.btn-detail {
  background:#2e58a6;
  color: #fff;
}
.btn-disabled {
  background: rgba(0,0,0,0.3);
}
